@font-face {
  font-family: 'FuturaBook';
  src: url('../fonts/futura-book.ttf') format('truetype');
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

body {
  font-family: FuturaBook, Helvetica, Arial, sans-serif;
  line-height: normal;
}

#logo-container {
  display: table;
  background: url('../images/background.jpg') center top no-repeat;
  width: 100%;
  height: 705px;
}

#logo-title-container {
  display: table-cell;
  vertical-align: bottom;
}

#logo-title {
  margin-left: 14px;
  color: #F7F7F7;
}

#recent-container {
  background-color: #DABBA8;
  color: #323232;
  width: 250px;
  margin: 20px 20px;
  float: left;
}

#recent-container-title {
  margin-top: 6px;
  text-align: center;
}

#recent-post-container {
  list-style-position: inside;
  padding: 10px 0 10px 20px;
}

#post-container {
  margin-left: 270px;
  margin-right: 200px;
  padding: 20px;
}

#post-new-form {
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #777777;
  border-radius: 6px;
}

.post-meta-container {
  margin-bottom: 4px;
}

.post-author {
  color: #7B7B7B;
  float: left;
  margin-right: 18px;
}

.post-register-date {
  color: #AEAEAE;
  font-size: 14px;
}

.trigger {
  visibility: hidden;
  height: 0;
}